/*
#0B0C10 - black
#1F2833 - grey
#C5C6C7 - pinkish peach
#66FCF1 - turquaise
#45A29E - darker of turquaise

websites-to-use:
daFonts

10bestdesigns - neatens up your code
autoprefixer css online - gives css code per browser 

caniuse - checks availability of components
designyourway - how to overall layout your website

unsplash - for images
adobe xd (xdguru)- more UI kits
*/

:root {
	--primary-colour: #45a29e;
	--light-primary-colour: #66fcf1;
	--black-colour: #0b0c10;
	--peach-colour: #c5c6c7;
	--grey-colour: #1f2833;
}

* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

/*
Social media
*/

.social-media {
	position: 'fixed';
	left: '10px';
	right: 0;
	bottom: '35%';
}

.soc.insta {
	color: var(--black-colour);
}

.soc.link {
	color: var(--black-colour);
}

.soc.git {
	color: var(--black-colour);
}

.soc.insta:hover {
	filter: brightness(90%);
	color: palevioletred;
	cursor: pointer;
}

.soc.link:hover {
	filter: brightness(90%);
	color: blue;
	cursor: pointer;
}
.soc.git:hover {
	filter: brightness(90%);
	color: grey;
	cursor: pointer;
}

/*
Landing page
*/

.main-landing {
	z-index: 1;
	background: url(./assets/background_landing_rustic.jpg) no-repeat center center;
	background-size: cover;
	display: grid;
	align-items: center;
	height: 100vh;
	width: 100%;
	overflow: auto;
}

.main-centered {
	z-index: 400;
	text-align: center;
	color: white;
	border: 5px solid white;
	margin-left: 20%;
	margin-right: 20%;
}

.main-btn-landing {
	width: 140px;
	color: white !important;
	transform-origin: scale(1);
	transition: transform 0.5s ease;
	transform: translate(0, 50%);
}

.main-btn-landing:hover {
	color: white !important;
	transform: scale(1.1) translate(0, 40%);
}
/*
Navigation menu
*/

.head-menu {
	transform: translate(0%, 200%);
}

.main-menu {
	background-color: #2b2222;
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-gap: 1rem;
}

.heading-btn-menu {
	grid-column: 4;
	grid-row: 2;
	width: 150%;
	text-align: center;
}

.grid-menu {
	grid-column: 2;
	grid-row: 4;
	width: 200%;
	align-items: center;
}

.msg-menu {
	grid-column: 5;
	grid-row: 4;
	width: 350%;
	align-items: center;
}

.btn-menu {
	margin: 10px;
	width: 135px;
	transform-origin: scale(1);
	transition: transform 0.5s ease;
}

.btn-menu:hover {
	color: #7a4f3b !important;
	background-color: whitesmoke !important;
	transform: scale(1.1);
}

.btn-sz-l {
	width: 420px;
}

/*
Contact menu
*/

.main-contact {
	background-size: cover;
	background-repeat: no-repeat;
	height: 30vh;
	width: 100%;
}

/*
Fonts
*/
.f-l {
	font-size: 25px;
}

/*
Positioning
*/

.col-lg-8 {
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

/*
Buttons
*/
.btn-more {
	position: fixed;
	/* bring your own prefixes */
	transform: translate(0%, 50%);
}

/*
Grids
*/
.grid-1 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}

/*About page*/

.about-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	position: fixed;
	left: 7%;
	top: 25%;
}

.about-info {
	padding-left: 80px;
	padding-top: 0;
	grid-row: 1;
	grid-column: 2;
	width: 60vw;
}

.profile-photo {
	position: relative;
	top: 20%;
	width: 250px;
	height: 300px;
	transform: scale(1);
	transition: transform 0.5s ease;
	box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.profile-photo:hover {
	transform: scale(1.1);
}
/*Project Page*/

.heading-proj {
	padding-top: 0;
	position: relative;
	left: 39.3rem;
	font-size: 40px;
}

/*Contact Page*/

.cntc {
	transform: translate(205%, 250%);
}

/*Form*/

.form-handle {
	position: absolute;
	transform: translate(50%, -70%);
}

.inp-bx {
	width: 25px;
}

.contact-form {
	position: absolute;
	float: right;
}
/*Form*/
.back-landing {
	text-transform: uppercase;
	padding-left: 40px;
	float: left;
}

.nav-item {
	margin-right: 20px;
}

.nav-item:hover {
	text-decoration: underline;
}

.nav-dir {
	float: right;
	padding-right: 3%;
}

.nav-colour {
	background-color: var(--grey-colour);
}
