/*
#0B0C10 - black
#1F2833 - grey
#C5C6C7 - pinkish peach
#66FCF1 - turquaise
#45A29E - darker of turquaise

websites-to-use:
daFonts

10bestdesigns - neatens up your code
autoprefixer css online - gives css code per browser 

caniuse - checks availability of components
designyourway - how to overall layout your website

unsplash - for images
adobe xd (xdguru)- more UI kits
*/

:root {
	--primary-colour: #45a29e;
	--light-primary-colour: #66fcf1;
	--black-colour: #0b0c10;
	--peach-colour: #c5c6c7;
	--grey-colour: #1f2833;
}

* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

/*
Social media
*/

.social-media {
	transform: translate(-2000%, -115%);
	padding: 4px;
	border-radius: 3.5px;
}

.soc.insta {
	color: var(--black-colour);
}

.soc.link {
	color: var(--black-colour);
}

.soc.git {
	color: var(--black-colour);
}

.soc.insta:hover {
	filter: brightness(90%);
	color: palevioletred;
	cursor: pointer;
}

.soc.link:hover {
	filter: brightness(90%);
	color: blue;
	cursor: pointer;
}
.soc.git:hover {
	filter: brightness(90%);
	color: grey;
	cursor: pointer;
}

/*
Landing page
*/

.main-landing {
	display: grid;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.main-centered {
	text-align: center;
	color: var(--grey-colour);
	border: 5px solid var(--grey-colour);
	margin-left: 20%;
	margin-right: 20%;
}

.main-btn-landing {
	transform: translate(0%, 55%);
	width: 140px;
}
/*
Navigation menu
*/

.head-menu {
	transform: translate(0%, 200%);
}

.main-menu {
	background-color: var(--grey-colour);
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-gap: 1rem;
}

.heading-btn-menu {
	grid-column: 4;
	grid-row: 2;
	width: 150%;
	text-align: center;
}

.grid-menu {
	grid-column: 2;
	grid-row: 4;
	width: 200%;
	align-items: center;
}

.msg-menu {
	grid-column: 5;
	grid-row: 4;
	width: 350%;
	align-items: center;
}

.btn-menu {
	margin: 10px;
	width: 135px;
}

.btn-sz-l {
	width: 420px;
}

/*
Contact menu
*/

.main-contact {
	background-size: cover;
	background-repeat: no-repeat;
	height: 30vh;
	width: 100%;
}

/*
Fonts
*/
.f-l {
	font-size: 25px;
}

/*
Positioning
*/

.intro-right {
	transform: translate(25%, -0%);
	width: 100%;
}

.col-lg-8 {
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

/*
Buttons
*/
.btn-more {
	position: fixed;
	/* bring your own prefixes */
	transform: translate(0%, 50%);
}

/*
Grids
*/
.grid-1 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}

/*Contact Page*/

.cntc {
	transform: translate(205%, 250%);
}

/*Form*/

.form-handle {
	position: absolute;
	transform: translate(50%, -70%);
}

.inp-bx {
	width: 25px;
}

.contact-heading {
}

.contact-form {
	position: absolute;
	float: right;
}
/*Form*/
.back-landing {
	text-transform: uppercase;
	padding-left: 40px;
	float: left;
}

.nav-item {
	margin-right: 20px;
}

.nav-item:hover {
	text-decoration: underline;
	padding-top: 1.1px;
}

.nav-dir {
	float: right;
	padding-right: 3%;
}

.nav-colour {
	background-color: var(--grey-colour);
}
