body {
	background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card-review-style {
	background: white;
	color: #2b2222;
	width: auto !important;
}

.card-review-style .card-review-header {
	padding-left: 10px;
	font-size: 25px;
	background-color: #7a4f3b;
	color: white;
}

.card {
	background-color: #2b2222;
	width: 20rem;
	border-radius: 10px !important;
	color: white;
}

.card:hover {
	box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
	border-radius: 10px !important;
}

.card-body {
	padding: 3rem 0 !important;
}

.card-text {
	font-size: 0.9rem;
	padding: 0.4 rem 1.9rem;
}

.container-fluid .row {
	padding-top: 3rem;
}

.overflow {
	overflow: hidden;
}

.card-img-top {
	margin-top: 30px;
	width: 400px;
	height: 200px;
	transform: scale(1);
	transition: transform 0.5s ease;
}

.card-img-top:hover {
	transform: scale(1.1);
}
